* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    text-align: center;
}


#container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, minmax(150px, auto));
   /* column-gap: 10px;
    row-gap: 10px;
    margin: 0 auto;*/
    gap: 10px;
    width: 75%;
    color: rgba(17, 17, 17, 0.89);
}

#container div {
    padding: 30px;
    background: cadetblue;
    
}

#container div:nth-child(even){
    background: rgb(122, 219, 12);
}

.one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.six {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}

.two {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.three {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}

.four {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.five {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}